* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.hero, footer, .logotext, h1 {
  background-color: #1f2937;
  color: #F9FAF8;
}

.hero {
  padding: 5px 100px 60px;
}

.logomenu {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  font-size: 24px;
}

.navigator {
  list-style-type: none;
  display: flex;
  gap:2rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color:#E5E7EB;
}

.headline, .headline.p {
  color:#E5E7EB;
}

.headline {
  max-width: 450px;
}

h1 {
  font-size: 65px;
  font-weight: bolder;
  padding-top: 120px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

h3 {
  padding-bottom: 15px;
  text-transform: uppercase;
}

.headline p {
  font-size: 18px;
  line-height: 1.30rem;
}

.midsection {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.image {
  width: 600px;
  height: 350px;
  display: flex;
}

img {
  border-radius: 20px;
}

.fig1 {
  color: #E5E7EB;
  font-size: 10px;
  margin-top: -20px;
  padding-right: 10px;
  display: flex;
  justify-content: right;
}

.buttonbox {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.buttons {
  background-color: #E5E7EB;
  color: #1f2937
  margin: 5px;
  padding: 5px;
  font-size: 1.3rem;
  border-style:dotted;
  border-radius: 10%;
  border: 4px double #cccccc;
}

.products {
  display: flex;
}