* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.hero, footer, .logotext, h1 {
  background-color: #1f2937;
  color: #F9FAF8;
}

.hero {
  padding: 5px 100px 60px;
}

.logomenu {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  font-size: 24px;
}

.navlinks {
  list-style-type: none;
  background-color: pink;
  display: flex;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.headline.p {
  font-size: 18px;
  color:#E5E7EB;
}