* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.hero, footer, .logotext, h1 {
  background-color: #1f2937;
  color: #F9FAF8;
}

.hero {
  padding: 5px 100px 60px;
}

.logomenu {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  font-size: 24px;
}

.navigator {
  list-style-type: none;
  display: flex;
  gap:2rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color:#E5E7EB;
}

.headline, .headline.p {
  color:#E5E7EB;
}

.headline {
  max-width: 300px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 5px;
}

.headline {
  background-color: pink;
}

.headline p {
  font-size: 18px;
  line-height: 1rem;
}

.image {
  width: 610px;
  height: 350px;
}